<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>宠物医院信息管理系统</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'js/jquery.min.js'%}">
		<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
		<link rel="stylesheet" href="{% static 'css/InfQuery-base.css' %}">
		<link rel="stylesheet" href="{% static 'css/InfQuery-jquery-kq-nav-left.css' %}">
		<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	</head>

	<body>
		<ul class="nav-left-container">
			<li>
				<!-- li的class为active表示点击选中 -->
				<a href="#">
					<!-- aria-hidden字符串。可选值为true和false,true表示元素隐藏(不可见)，false表示元素可见。 -->
					<span class="glyphicon glyphicon-home f12" aria-hidden="true"></span>
					<span>进货信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>
				<ul class="nav-left-container-small">
					<!-- aria-expanded表示展开状态。默认为undefined, 表示当前展开状态未知。其它可选值：true表示元素是展开的；false表示元素不是展开的。 -->
					<li>
						<a class="J_menuItem" href="StockInfQuery.html">进货信息查询</a>
					</li>
					<li>
						<a class="J_menuItem" href="StockInfAdd.html">进货信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="StockInfVisualization.html">进货信息可视化</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-calendar f12" aria-hidden="true"></span>
					<span>药物信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>

				<ul class="nav-left-container-small">
					<li>
						<a class="J_menuItem" href="DrugInfQuery.html">药物信息查询</a>
					</li>
					<li>
						<a class="J_menuItem" href="DrugInfAdd.html">药物信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="DrugInfVisualization.html">药物信息可视化</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-edit f12" aria-hidden="true"></span>
					<span>医生信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>
				<ul class="nav-left-container-small">
					<li>
						<a class="J_menuItem" href="DoctorInfQuery.html">医生信息查询</a>
					</li>

					<li>
						<a class="J_menuItem" href="DoctorInfAdd.html">医生信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="DoctorInfVisualization.html">医生信息可视化</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-calendar f12" aria-hidden="true"></span>
					<span>病例信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>

				<ul class="nav-left-container-small">
					<li>
						<a class="J_menuItem" href="CaseInfQuery.html">病例信息查询</a>
					</li>
					<li>
						<a class="J_menuItem" href="CaseInfAdd.html">病例信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="CaseInfVisualization.html">病例信息可视化</a>
					</li>
				</ul>
			</li>
			<li><input type="button" value="退 出" onclick="window.location.href='LogIn.html'" style="position: absolute;bottom: 10px;border: none;background: url(../static/images/login_back.png);width: 100%;font-weight: 600;font-size: 14px;" /></li>
		</ul>
		<div class="nav-right-out">
			<div class="nav-right-in">
				<form action="DrugInfQuery.html" method="POST">
					<div class="search-id" style="margin-top: 10px;">
						<input type="text" name="SearchWd" id="search-in" placeholder="药物编号、药物名称、供货单位" />
						<input type="button" id="codeSubmit" value="搜索" style="display: none;" onclick="" />
					</div>
				</form>
				<div class="search-result" style="overflow-y: auto;">
					<table border="0" id="result-show" cellspacing="0" cellpadding="0" style="border-collapse:separate;border-spacing:0 10px;">
						<tr>
							<th>药品编号</th>
							<th>药品名称</th>
							<th>供货单位</th>
							<th>生产日期</th>
							<th>有效期(月)</th>
							<th>零售价</th>
							<th>批发价</th>
							<th>药品进价</th>
							<th>药品数量</th>
						</tr>
						{% for line in SearchInf %}
						<tr>
							<td><a href="DrugInfDetail.html?id={{line.DrugID}}" style="color: #009999;" title="点击查看详细信息">{{line.DrugID}}</a></td>
							<td>{{line.DrugName}}</td>
							<td>{{line.DeliveryUnit}}</td>
							<td>{{line.ProduceDate}}</td>
							<td>{{line.EffectiveTime}}</td>
							<td>{{line.RetailPrice}}</td>
							<td>{{line.WholesalePrice}}</td>
							<td>{{line.DrugPurPrice}}</td>
							<td>{{line.DrugNum}}</td>
							<td><input type="button" name="" value="删除" style="background-color:#66CCCC;width: 40px;height: 23px;" onclick="if(confirm('确定删除吗')) location.href='DrugInfQuery.html?method=1&id={{line.DrugID}}'"></td>
							<td><input type="button" name="" value="编辑" style="background-color:#009999;width: 40px;height: 23px;" onclick="if(confirm('确定编辑吗')) location.href='DrugInfQuery.html?method=2&id={{line.DrugID}}'"></td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<script>
			$('.nav-left-container').on('click', 'li', function() {
				$(this).find('.glyphicon-menu-right').removeClass('glyphicon-menu-right').addClass('glyphicon-menu-down');
				$(this).addClass('active').children('.nav-left-container-small').slideDown()

				$(this).siblings().removeClass('active').children('.nav-left-container-small').slideUp()
				$(this).siblings().find('.glyphicon-menu-down').removeClass('glyphicon-menu-down').addClass(
					'glyphicon-menu-right ');
			})
		</script>
		<script>
			$('#search-in').on('keypress', function(event) {
				if (event.keyCode == 13) {
					$('#codeSubmit').trigger('click')
				}
			});
		</script>
		<!-- 	<script type="text/javascript">
		function clickMe() {
						//得到input标签对象
						var input = document.getElementById("search-in");
						console.log(input.id) //在控制台打印出inputId
						console.log(input.type) //text
						console.log(input.value) //hello
						alert(input.value);
		
		}
	</script> -->
	{% if messages %}
		<script>
			{% for msg in messages %}
				alert('{{ msg.message }}');
	   			{% endfor %}
		</script>
	{% endif %}
	</body>

</html>
