<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>宠物医院信息管理系统</title>
		{% load static %}
		<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
		<link rel="stylesheet" href="{% static 'css/StockInfAdd-base.css' %}">
		<link rel="stylesheet" href="{% static 'js/jquery.min.js' %}">
		<link rel="stylesheet" href="{% static 'css/StockInfAdd-jquery-kq-nav-left.css' %}">
		<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	</head>

	<body>
		<ul class="nav-left-container">
			<li>
				<!-- li的class为active表示点击选中 -->
				<a href="#">
					<!-- aria-hidden字符串。可选值为true和false,true表示元素隐藏(不可见)，false表示元素可见。 -->
					<span class="glyphicon glyphicon-home f12" aria-hidden="true"></span>
					<span>进货信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>
				<ul class="nav-left-container-small">
					<!-- aria-expanded表示展开状态。默认为undefined, 表示当前展开状态未知。其它可选值：true表示元素是展开的；false表示元素不是展开的。 -->
					<li>
						<a class="J_menuItem" href="StockInfQuery.html">进货信息查询</a>
					</li>
					<li>
						<a class="J_menuItem" href="StockInfAdd.html">进货信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="StockInfVisualization.html">进货信息可视化</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-calendar f12" aria-hidden="true"></span>
					<span>药物信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>

				<ul class="nav-left-container-small">
					<li>
						<a class="J_menuItem" href="DrugInfQuery.html">药物信息查询</a>
					</li>
					<li>
						<a class="J_menuItem" href="DrugInfAdd.html">药物信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="DrugInfVisualization.html">药物信息可视化</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-edit f12" aria-hidden="true"></span>
					<span>医生信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>
				<ul class="nav-left-container-small">
					<li>
						<a class="J_menuItem" href="DoctorInfQuery.html">医生信息查询</a>
					</li>

					<li>
						<a class="J_menuItem" href="DoctorInfAdd.html">医生信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="DoctorInfVisualization.html">医生信息可视化</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<span class="glyphicon glyphicon-calendar f12" aria-hidden="true"></span>
					<span>病例信息管理</span>
					<span class="glyphicon glyphicon-menu-right f12 fr" aria-hidden="true"></span>
				</a>

				<ul class="nav-left-container-small">
					<li>
						<a class="J_menuItem" href="CaseInfQuery.html">病例信息查询</a>
					</li>
					<li>
						<a class="J_menuItem" href="CaseInfAdd.html">病例信息添加</a>
					</li>
					<li>
						<a class="J_menuItem" href="CaseInfVisualization.html">病例信息可视化</a>
					</li>
				</ul>
			</li>
			<li><input type="button" value="退 出" onclick="window.location.href='LogIn.html'" style="position: absolute;bottom: 10px;border: none;background: url(../static/images/login_back.png);width: 100%;font-weight: 600;font-size: 14px;" /></li>
		</ul>
		<div class="nav-right-out">
			<div class="nav-right-in">
				<form action="StockInfAdd.html" method="POST">
					<div style="width: 100%;height: 16%;display: flex;align-items: center;background-color: white;">
						<table style="margin:0 auto;text-align: justify;text-justify: inter-ideograph;border-collapse:separate; border-spacing:0px 10px">
							<tr>
								<th>入库方式</th>
								<th><input type="text" name="StockInType" placeholder="正常入库" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
								<th style="padding-left: 30px;">供货单位</th>
								<th><input type="text" name="DeliveryUnit" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 300px;"></th>
								<th style="padding-left: 30px;">入库日期</th>
								<th><input type="date" name="StockInDate" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
							</tr>
							<tr>
								<th>入库单号</th>
								<th><input type="text" name="StockInID" placeholder="S-年-月-日-编号" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
								<th style="padding-left: 30px;">发票号</th>
								<th><input type="text" name="InvoiceID" placeholder="I-年-月-日-编号" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 300px;"></th>
								<th style="padding-left: 30px;">发票日期</th>
								<th><input type="date" name="InvoiceDate" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
							</tr>
						</table>
					</div>
					<!-- 中间部分 -->
					<div style="width: 100%;height: 34%;margin-top:1%;background-color: #FFFFFF;display: flex;align-items: center;">
						<table style="margin:0 auto;text-align: justify;text-justify: inter-ideograph;border-collapse:separate; border-spacing:0px 10px">
							<tr>
								<th>药物编号</th>
								<th><input type="text" name="DrugID" placeholder="XXXXX" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
								<th style="padding-left: 30px;">药品名称</th>
								<th><input type="text" name="DrugName" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 300px;"></th>
								<th style="padding-left: 30px;">产 地</th>
								<th><input type="text" name="Origin" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
							</tr>
							<tr>
								<th>生产日期</th>
								<th><input type="date" name="ProduceDate" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
								<th style="padding-left: 30px;">有效期</th>
								<th><input type="text" name="EffectiveTime" placeholder="单位：月" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 300px;"></th>
								<th style="padding-left: 30px;">零售价</th>
								<th><input type="text" name="RetailPrice" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
							</tr>
							<tr>
								<th>批发价</th>
								<th><input type="text" name="WholesalePrice" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
								<th style="padding-left: 30px;">药品进价</th>
								<th><input type="text" name="DrugPurPrice" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 300px;"></th>
								<th style="padding-left: 30px;">药品数量</th>
								<th><input type="text" name="DrugNum" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
							</tr>
							<tr>
								<th>总金额</th>
								<th><input type="text" name="PurchaseSum" placeholder="进价*数量" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 250px;"></th>
								<th style="padding-left: 30px;">备注</th>
								<th><input type="text" name="Remark" style="background-color: #f5f5f5;height: 30px;border: 2px d0d0d0 solid;font-size: 13px;width: 300px;"></th>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th><input type="submit" class="sub1" value="提 交" style="width: 300px;height: 40px;background-color: #6AC6E4;cursor: pointer;font-size:13px;"></th>
							</tr>
						</table>
					</div>
				</form>
				<div class="search-result" style="width: 100%;height:52%;margin-top: 1%;background-color: #FFFFFF;overflow-y: auto;">
					<table border="0" id="result-show" cellspacing="0" cellpadding="0" style="border-collapse:separate;border-spacing:0 10px;">
						<tr>
							<th>入库单号</th>
							<th>入库方式</th>
							<th>入库日期</th>
							<th>供货单位</th>
							<th>药品代码</th>
							<th>药品名称</th>
							<th>生产日期</th>
							<th>有效期</th>
							<th>批发价</th>
							<th>零售价</th>
							<th>药品进价</th>
							<th>药品数量</th>
							<th>进价总金额</th>
						</tr>
						{% for line in SearchInf %}
						<tr>
							<td>{{line.StockInID}}</td>
							<td>{{line.StockInType}}</td>
							<td>{{line.StockInDate}}</td>
							<td>{{line.DeliveryUnit}}</td>
							<td>{{line.DrugID}}</td>
							<td>{{line.DrugName}}</td>
							<td>{{line.ProduceDate}}</td>
							<td>{{line.EffectiveTime}}</td>
							<td>{{line.WholesalePrice}}</td>
							<td>{{line.RetailPrice}}</td>
							<td>{{line.DrugPurPrice}}</td>
							<td>{{line.DrugNum}}</td>
							<td>{{line.PurchaseSum}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<script>
			$('.nav-left-container').on('click', 'li', function() {
				$(this).find('.glyphicon-menu-right').removeClass('glyphicon-menu-right').addClass('glyphicon-menu-down');
				$(this).addClass('active').children('.nav-left-container-small').slideDown()

				$(this).siblings().removeClass('active').children('.nav-left-container-small').slideUp()
				$(this).siblings().find('.glyphicon-menu-down').removeClass('glyphicon-menu-down').addClass(
					'glyphicon-menu-right ');
			})
		</script>
		<script>
			$('#search-in').on('keypress', function(event) {
				if (event.keyCode == 13) {
					$('#codeSubmit').trigger('click')
				}
			});
		</script>
		{% if messages %}
			<script>
				{% for msg in messages %}
					alert('{{ msg.message }}');
	   			{% endfor %}
			</script>
		{% endif %}
	</body>

</html>
